<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>飞羽健身管理系统</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        var option = {
            elem: '#leaveTable',
            height: 523,
            url: '/leave/findAll', //数据接口
            page: true, //开启分页
            cols: [
                [ //表头
                    {field: 'courseName', title: '课程名'},
                    {field: 'packageName', title: '小节名',sort: true },
                    {field: 'packageAdjustStartTime', title: '调整开始时间',
                        templet : "<div>{{layui.util.toDateString(d.packageAdjustStartTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                        width: 200,
                        sort: true},
                    {field: 'packageAdjustEndTime', title: '调整结束时间',
                        templet : "<div>{{layui.util.toDateString(d.packageAdjustEndTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                        width: 200,
                        sort: true},
                    {field: 'packageBeforeStartTime', title: '原先开始时间',
                        templet : "<div>{{layui.util.toDateString(d.packageBeforeStartTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                        width: 200,
                        sort: true},
                    {field: 'packageBeforeEndTime', title: '原先结束时间',
                        templet : "<div>{{layui.util.toDateString(d.packageBeforeEndTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                        width: 200,
                        sort: true},
                    {field: 'startUserName', title: '教练名称'},
                    {field: 'status', title: '状态',templet:getStatu},
                    {field: 'checkTime', title: '审批时间',
                        templet : "<div>{{layui.util.toDateString(d.packageAdjustTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                        width: 200,
                        sort: true},
                    {field: 'checkComment', title: '审批意见'},
                ]
            ],
        }
        //自定义“状态”列 -1已撤销，0审批中，1审批通过，2审批不通过',
        function getStatu(data) {
            var status = data.status;
            var btns = "";
            if (status == "-1") {
                return "已撤销";
            }
            if (status == "0") {
                return "审批中";
            }
            if (status == "1") {
                return "审批通过";
            }
            if (status == "2") {
                btns += '<a class="" style="color:#ed2a4a">审批不通过</a>';
            }
            return btns;
        }
        //JavaScript代码区域
        layui.use(["element","jquery", 'layedit', 'laydate',"layer","form","table"], function(){
            var table = layui.table;
            laydate = layui.laydate;

            table.render(option);

            //日期
            var nowTime = new Date().valueOf();
            var start = laydate.render({
                elem: '#startTime',
                min:nowTime,
                type: 'datetime',
                done:function(value,date){
                    endMax = end.config.max;
                    end.config.min = date;
                    end.config.min.month = date.month -1;
                }
            });
            var end = laydate.render({ //投票结束
                elem: '#endTime',
                min : nowTime,
                type: 'datetime',
                done:function(value,date){
                    if($.trim(value) == ''){
                        var curDate = new Date();
                        date = {'date': curDate.getDate(), 'month': curDate.getMonth()+1, 'year': curDate.getFullYear()};
                    }
                    start.config.max = date;
                    start.config.max.month = date.month -1;
                }
            });
            /*表格头的*/
            table.on('toolbar()',function (obj) {
                var layEvent = obj.event;
            });
            /*表格数据的*/
            table.on('tool()',function (obj) {
                var layEvent = obj.event;

            })
            window.queryLeave = function () {
                var queryName = $("#queryName").val();
                var startTime = $("#startTime").val();
                var endTime = $("#endTime").val();
                var option2 = {
                    elem: '#leaveTable',
                    height: 523,
                    url: '/leave/findAll?startUserName='+queryName+"&startTime="+startTime+"&endTime="+endTime, //数据接口
                    page: true, //开启分页
                    cols: [
                        [ //表头
                            {field: 'courseName', title: '课程名'},
                            {field: 'packageName', title: '小节名',sort: true },
                            {field: 'packageAdjustStartTime', title: '调整开始时间',
                                templet : "<div>{{layui.util.toDateString(d.packageAdjustStartTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                                width: 200,
                                sort: true},
                            {field: 'packageAdjustEndTime', title: '调整结束时间',
                                templet : "<div>{{layui.util.toDateString(d.packageAdjustEndTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                                width: 200,
                                sort: true},
                            {field: 'packageBeforeStartTime', title: '原先开始时间',
                                templet : "<div>{{layui.util.toDateString(d.packageBeforeStartTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                                width: 200,
                                sort: true},
                            {field: 'packageBeforeEndTime', title: '原先结束时间',
                                templet : "<div>{{layui.util.toDateString(d.packageBeforeEndTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                                width: 200,
                                sort: true},
                            {field: 'startUserName', title: '教练名称'},
                            {field: 'status', title: '状态',templet:getStatu},
                            {field: 'checkTime', title: '审批时间',
                                templet : "<div>{{layui.util.toDateString(d.packageAdjustTime, 'yyyy年MM月dd日 HH:mm:ss')}}</div>",
                                width: 200,
                                sort: true},
                            {field: 'checkComment', title: '审批意见'},
                        ]
                    ],
                }

                table.render(option2);
            }
        });
    </script>

</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>请假列表</legend>
    </fieldset>
    <div class="layui-row">
        <div class="layui-input-inline">
            <input type="text" name="queryName" id="queryName"  placeholder="请输入教练名称" style="width: 200px;" class="layui-input">
        </div>
        ——
        <div class="layui-input-inline">
           <input type="text" name="startTime" lay-verify="required" id="startTime" placeholder="小于原先时间" autocomplete="off" readonly="readonly" class="layui-input">
        </div>
        ——
        <div class="layui-input-inline" style="margin-right: 20px;">
           <input type="text" name="endTime" lay-verify="required" id="endTime" placeholder="大于原先时间" autocomplete="off" readonly="readonly" class="layui-input" >
        </div>
        <button class="layui-btn layui-btn-sm" lay-event="queryLeave" onclick="queryLeave()">查询</button>
        <table id="leaveTable" lay-filter="leaveFilter"></table>
    </div>
</body>
</html>